<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Book Store{% endblock %}</title>
</head>
<body>


<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Book store</a>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addBookModal">
            Добавить книгу
        </button>

        <button type="button" class="btn btn-info">
            <a href="{% url 'cart' %}" class="text-decoration-none text-dark">Корзина</a>
        </button>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-outline-danger">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-outline-success">Зарегистрироваться</a>
        {% endif %}
        <form method="GET" action="{% url 'book_list' %}">
            <input type="text" name="q" placeholder="Search books" value="{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>
    </div>
</nav>



<div class="modal fade" id="addBookModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Добавить новую книгу</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'book_create' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="title" class="form-label">Название</label>
                        <input type="text" id="title" name="title" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label for="author" class="form-label">Автор</label>
                        <input type="text" id="author" name="author" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label for="year_of_manufacture" class="form-label">Год выпуска</label>
                        <input type="date" id="year_of_manufacture" name="year_of_manufacture" class="form-control"
                               required/>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Цена</label>
                        <input type="number" id="price" name="price" step="0.01" min="0" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <textarea id="description" name="description" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="stock" class="form-label">Количество на складе</label>
                        <input type="number" id="stock" name="stock" min="0" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Категория</label>
                        <select id="category" name="category" class="form-control" required>
                            <option value="">Выберите категорию</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-success">Добавить книгу</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>