## Database

POSTGRES_HOST=pg_host
POSTGRES_DATABASE=database_name
POSTGRES_USER=user
POSTGRES_PASSWORD=pass


## Redis
REDIS_PASSWORD=your-redis-password-here
STRIPE_SECRET_KEY=your-stripe-secret-key-here