## Database
POSTGRES_HOST=pg_host
POSTGRES_DATABASE=database_name
POSTGRES_USER=user
POSTGRES_PASSWORD=pass


## Redis
REDIS_PASSWORD=your-redis-password-here
STRIPE_SECRET_KEY=your-stripe-secret-key-here

## Cloudflare R2(S3 Compatible) Storage
R2_ENDPOINT_URL=your-r2-endpoint-url-here
R2_ACCESS_KEY_ID=your-r2-access-key-id-here
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key-here
R2_BUCKET_NAME=your-r2-bucket-name-here
R2_PUBLIC_URL=your-r2-public-url-here
