Django==5.1.4
django-debug-toolbar==4.2.0
django-structlog==7.1.0
psycopg2-binary==2.9.9
stripe
pytest-django
asyncio
pytest-cov
factory-boy
djangorestframework
djangorestframework-simplejwt
drf_spectacular
django-cors-headers
django-filter
django-filter
boto3
Pillow
django-storages
gunicorn